/* Estilo base */
body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Encabezado */
.header {
    text-align: center;
    margin-top: 20px;
}

/* Menú de navegación */
.menu {
    text-align: center;
    margin: 20px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    color: #00FF00;
    text-decoration: none;
}

.menu a:hover {
    color: #32CD32; /* Verde más claro */
}

/* Secciones de contenido */
.content {
    padding: 20px;
    text-align: center;
}

.terminal {
    border: 1px solid #00FF00;
    padding: 20px;
    background-color: #0a0a0a;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 5px #00FF00;
    text-align: left;
}

/* Estilos para álbumes y EPs */
.album, .ep {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px dashed #00FF00;
}

/* Pie de página */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #00FF00;
}

/* Efecto cursor */
.cursor {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #00FF00;
    width: 10px;
    height: 20px;
    animation: blink 1s step-end infinite;
}

/* Animaciones */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Estilo para la sección whoami */
.whoami-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.whoami-container img {
    width: 150px;
    height: auto;
    border: 2px solid #00FF00;
}

.whoami-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.whoami-container li {
    margin: 5px 0;
}

.whoami-container a {
    color: #00FF00;
    text-decoration: none;
}

.whoami-container a:hover {
    color: #32CD32; /* Verde más claro */
}

span{
    color:red;
}

/* Media Queries para hacer la página responsive */
@media (max-width: 768px) {
    .terminal {
        width: 90%;
        padding: 15px;
    }

    .whoami-container {
        flex-direction: column;
        align-items: center;
    }

    .whoami-container img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .terminal {
        width: 95%;
        padding: 10px;
    }

    .menu li {
        display: block;
        margin: 10px 0;
    }

    .header h1 {
        font-size: 18px;
    }

    .whoami-container img {
        width: 100px;
    }
}
